@import './mixins';
@import './variables';

.footer{
    margin-top: auto;
    @include Flex-Center(column);
    color: $primary-white; 
    &__social-container{
        @include Flex-Center(row);
        justify-content: space-evenly;
        margin: 0em -0.25em 0.5em -0.25em;
        &__ln,
        &__fb,
        &__gh,
        &__rs{
            margin: 0 0.5em;
            transition: 150ms color ease-in;
            &:hover,
            &:focus{
                color: $primary-orange;
                cursor: pointer;
            }
        }
    }
    &__c{
        margin-bottom: 0.25em;
    }
}