$primary-blue : #294280;
$primary-light-grey: #c6ccd8;
$primary-white: #dee0e4;
$primary-dark-grey: #3f4d63;
$primary-black: #202022;
//$primary-orange: #FF9100;
$primary-orange: #FF6600;
//$primary-dark-blue : #040733;
$primary-dark-blue: #010212;

