* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #010212;
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  color: #c6ccd8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 4em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header__mobile-icon {
  color: #FF6600;
  padding: 0.75em;
  margin: 0.5em 0.5em 0 0;
  z-index: 10;
  -webkit-transition: 350ms -webkit-transform cubic-bezier(0.3, -0.37, 0.82, 1.38);
  transition: 350ms -webkit-transform cubic-bezier(0.3, -0.37, 0.82, 1.38);
  transition: 350ms transform cubic-bezier(0.3, -0.37, 0.82, 1.38);
  transition: 350ms transform cubic-bezier(0.3, -0.37, 0.82, 1.38), 350ms -webkit-transform cubic-bezier(0.3, -0.37, 0.82, 1.38);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-icon:hover, .header__mobile-icon:focus {
  cursor: pointer;
}

.header__mobile-icon:not(.menu-icon-rotate):hover, .header__mobile-icon:not(.menu-icon-rotate):focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.header__menu-container {
  z-index: 9;
  -webkit-transform: translateZ(200px);
          transform: translateZ(200px);
  position: fixed;
  background: #010212;
  width: 0;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 350ms width cubic-bezier(0.22, 0.61, 0.4, 0.93);
  transition: 350ms width cubic-bezier(0.22, 0.61, 0.4, 0.93);
  overflow: hidden;
}

.header__menu-container__options {
  padding: 1em 0;
  font-size: 2rem;
  font-weight: 600;
  opacity: 0;
}

.header__menu-container__options:hover {
  color: #FF6600;
  -webkit-box-shadow: 0px -1.15em 0.5em -0.75em inset #FF6600;
          box-shadow: 0px -1.15em 0.5em -0.75em inset #FF6600;
}

.menu-open {
  width: 100vw;
}

.menu-icon-rotate {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.Opacity {
  opacity: 1;
}

.Opacity.header__menu-container__hm {
  -webkit-transition: opacity 350ms ease 50ms, -webkit-box-shadow 350ms ease 0ms;
  transition: opacity 350ms ease 50ms, -webkit-box-shadow 350ms ease 0ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 50ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 50ms, -webkit-box-shadow 350ms ease 0ms;
}

.Opacity.header__menu-container__pf {
  -webkit-transition: opacity 350ms ease 100ms, -webkit-box-shadow 350ms ease 0ms;
  transition: opacity 350ms ease 100ms, -webkit-box-shadow 350ms ease 0ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 100ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 100ms, -webkit-box-shadow 350ms ease 0ms;
}

.Opacity.header__menu-container__pj {
  -webkit-transition: opacity 350ms ease 150ms, -webkit-box-shadow 350ms ease 0ms;
  transition: opacity 350ms ease 150ms, -webkit-box-shadow 350ms ease 0ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 150ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 150ms, -webkit-box-shadow 350ms ease 0ms;
}

.Opacity.header__menu-container__rm {
  -webkit-transition: opacity 350ms ease 200ms, -webkit-box-shadow 350ms ease 0ms;
  transition: opacity 350ms ease 200ms, -webkit-box-shadow 350ms ease 0ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 200ms;
  transition: box-shadow 350ms ease 0ms, opacity 350ms ease 200ms, -webkit-box-shadow 350ms ease 0ms;
}

.footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dee0e4;
}

.footer__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0em -0.25em 0.5em -0.25em;
}

.footer__social-container__ln, .footer__social-container__fb, .footer__social-container__gh, .footer__social-container__rs {
  margin: 0 0.5em;
  -webkit-transition: 150ms color ease-in;
  transition: 150ms color ease-in;
}

.footer__social-container__ln:hover, .footer__social-container__ln:focus, .footer__social-container__fb:hover, .footer__social-container__fb:focus, .footer__social-container__gh:hover, .footer__social-container__gh:focus, .footer__social-container__rs:hover, .footer__social-container__rs:focus {
  color: #FF6600;
  cursor: pointer;
}

.footer__c {
  margin-bottom: 0.25em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  color: #c6ccd8;
  font-size: 3.25rem;
  margin-bottom: 1em;
  text-align: center;
}

.cards {
  width: 95%;
  max-width: 80ch;
  margin: 0 auto;
}

.cards__container {
  height: 400px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 2em;
  background: #FF6600;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.cards__container__header {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  width: 100%;
  padding: 0.5em 0.25em 0em 0.25em;
  text-align: center;
  color: #dee0e4;
  -webkit-transition: 250ms height 100ms ease-in, 100ms -webkit-transform 0ms ease-in;
  transition: 250ms height 100ms ease-in, 100ms -webkit-transform 0ms ease-in;
  transition: 250ms height 100ms ease-in, 100ms transform 0ms ease-in;
  transition: 250ms height 100ms ease-in, 100ms transform 0ms ease-in, 100ms -webkit-transform 0ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.cards__container__header:hover, .cards__container__header:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  cursor: pointer;
}

.cards__container__header:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.cards__container__header__title {
  font-size: 1.7rem;
  margin-bottom: 0.1em;
  text-shadow: 0px 0px 15px #202022;
}

.cards__container__header-ig {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../imgs/igpix.png");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/igpix.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__container__header-sp2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../imgs/spotpix.png");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/spotpix.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__container__header-sw {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../imgs/sandpix.png");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/sandpix.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__container__header-pk {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../imgs/pokpix.png");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/pokpix.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__container__content {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.75em;
  font-size: 1.2rem;
}

.cards__container__content__text {
  text-align: justify;
}

.cards__container__content__text__links {
  font-size: 1.3rem;
}

.cards__container__content__text__links:hover, .cards__container__content__text__links:focus {
  color: #FF6600;
  text-shadow: 0px 0px 5px #202022;
}

.header-less {
  height: 75px;
  background: #294280;
}

.header-less:hover, .header-less:focus, .header-less:active {
  -webkit-transform: none;
          transform: none;
}

.container-header-less {
  background: #c6ccd8;
}

@media (max-width: 650px) {
  .cards__container {
    background: #c6ccd8;
  }
  .cards__container__header {
    height: 75px;
    background: #294280;
  }
  .cards__container__header:hover, .cards__container__header:focus, .cards__container__header:active {
    -webkit-transform: none;
            transform: none;
  }
  .cards__container__content {
    font-size: 1.05rem;
  }
}
/*# sourceMappingURL=proj.css.map */