@import './mixins';
@import './variables';
@import './resets';

@import './body-misc';
@import './header';
@import './footer';


.main{
    @include Flex-Center(column);
    &__title{
        color: $primary-light-grey;
        font-size: 3.25rem;
        margin-bottom: 1em;
        text-align: center;
    }
}

.cards{
    width: 95%;
    max-width: 80ch;
    margin: 0 auto;
    &__container{
        height: 400px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 2em;
        background: $primary-orange;
        transition: 250ms background ease-in;
        &__header{
            position: absolute;
            top: 0;
            right: 0;
            height: 400px;
            width: 100%;
            padding: 0.5em 0.25em 0em 0.25em;
            text-align: center;
            color: $primary-white;
            transition: 250ms height 100ms ease-in, 100ms transform 0ms ease-in;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &:hover,
            &:focus{
                transform: scale(0.98);
                cursor: pointer;
            }
            &:active{
                transform: scale(0.97);
            }
            &__title{
                font-size: 1.7rem;
                margin-bottom: 0.1em;
                text-shadow: 0px 0px 15px $primary-black;
            }
            &-ig{
                background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../imgs/igpix.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            &-wh{
                background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../imgs/weapix.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            &-sw{
                background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../imgs/sandpix.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            &-pk{
                background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../imgs/pokpix.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            
        }
        &__content{
            height: 300px;
            @include Flex(column);
            justify-content: flex-end;
            padding: 0.75em;
            font-size: 1.2rem;
            &__text{
                text-align: justify;
                &__links{
                    font-size: 1.3rem;
                    &:hover,
                    &:focus{
                        color: $primary-orange;
                        text-shadow: 0px 0px 5px $primary-black;
                    }
                }
            }
        }
    }
   
}

.header-less{
    height: 75px;
    background: $primary-blue;
    &:hover,
    &:focus,
    &:active{
        transform: none;
    }
}

.container-header-less{
    background: $primary-light-grey;
}


@media(max-width: 650px){
    .cards{
        &__container{
            background: $primary-light-grey;
            &__header{
                height: 75px;
                background: $primary-blue;
                &:hover,
                &:focus,
                &:active{
                    transform: none;
                }
            }
            &__content{
                font-size: 1.05rem;
            }
        }
        

    }
}